<h1>Admin::Dashboard#show</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Categories</td>
      <td><%= @category_count %></td>      

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Products</td>
      <td><%= @product_count %></td>
    </tr>
  </tbody>
</table>

